#sortable1, #sortable2,#user_selected_opt,#user_opt {
    border: 1px solid gray;
    width: 142px;
    min-height: 120px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li,#user_selected_opt li,#user_opt li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  #sortable2{
  	border: 1px solid gray;
  	min-height: 120px;
  }
  /*#reordered_sortable{
    border: 1px solid gray;
    max-width: 300px;
    min-width: 300px;
    margin-right: 10px;
    float: right;
  }*/

  .set_rm_for_user{
    margin-top: 5px;
  }
  .city {display:none;}